.slider{
    height: 480px;
}
.sliderComponent{
    position: fixed;
    width: 100%;
    height: 480px;
}

.sliderBg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.sliderBg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}