.Logo {
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo a{
    cursor: pointer;
}

.Logo img{
    height: 100%;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}